[user]
  name = Josh Reeves
  email = josh@bloom.wine
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMLTe1CE9LopD0LoIDGKa379cSZbIHUe85znUjYf3PhS

[color]
  ui = auto

[core]
  editor = code --wait

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

