[user]
  name = Josh Reeves
  email = josh@bloom.wine
  signingkey = some-signing-key

[color]
  ui = auto

[core]
  editor = code --wait

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = /Users/joshr/.ssh/allowed_signers

[commit]
  gpgsign = true

